@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
*{
    font-family: 'Radio Canada', sans-serif;
}
h1{
    font-size: 14px;
}
.css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 24px;
    display: flex;
    width: 600px;
}
.list-item{
    list-style: none;
    display: flex;
    padding-left: 250px;
    padding-right: 90px;
}
.list-item li{
    margin:8px;
}
.list-item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.list-item li button{
    background: transparent;
    color: white;
    cursor: pointer;
    text-transform: none;
}
.list-item li button:hover{
    background: none !important;
    box-shadow: none !important;
}
.list-item li button::after{
    content:'';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    box-shadow: 0%;
    background-color: white;

    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}
.list-item li button:hover::after{
    transform-origin: left;
    transform: scaleX(1); 
}
.btn{
    background: transparent;
    color: white;
    cursor: pointer;
    text-transform: none;
    margin: 6px;
}
.btn:hover{
    background: none !important;
    box-shadow: none !important;
}
.dropdown-menu{
    margin-bottom: 10px;
}
.dropdown-menu .dropdown-item{
    color: black;
    background-color: rgb(226, 221, 221);
    border-radius: 5px;
    width: 150px;
}
.btn-login{
    border: 2px solid gray;
    padding-left:400px;
}

@media screen and (max-width: 800px) {
    .list-item{
        width: 100%;
        margin: auto;
        padding: auto;
    }
    
}