@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
*{
    font-family: 'Radio Canada', sans-serif;
}
h1{
    font-size: 14px;
}
.list-item{
    list-style: none;
    display: flex;
    padding-left: 600px;
    padding-right: 750px;
}
.list-item li{
    margin:10px;
}
.list-item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.list-item li button{
    border:none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.btn-login{
    border: 2px solid gray;
    padding-left: 100px;
}